/* line 1, ../sass/_css-clock.scss */
.clock {
  border-radius: 50%;
  background: #fff url(../../img/ios_clock.svg) no-repeat center;
  background-size: 90%;
  height: 400px;
  position: relative;
  width: 400px;
}

/* line 10, ../sass/_css-clock.scss */
.clock.simple:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

/* line 23, ../sass/_css-clock.scss */
.minutes-container, .hours-container, .seconds-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 31, ../sass/_css-clock.scss */
.hours {
  background: #000;
  height: 25%;
  left: 48.75%;
  position: absolute;
  top: 25%;
  transform-origin: 50% 100%;
  width: 2.5%;
}

/* line 41, ../sass/_css-clock.scss */
.minutes {
  background: #000;
  height: 40%;
  left: 49%;
  position: absolute;
  top: 10%;
  transform-origin: 50% 100%;
  width: 2%;
}

/* line 51, ../sass/_css-clock.scss */
.seconds {
  background: #000;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  z-index: 8;
  display: none;
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

/* line 69, ../sass/_css-clock.scss */
.hours-container {
  animation: rotate 43200s infinite linear;
}

/* line 73, ../sass/_css-clock.scss */
.minutes-container {
  animation: rotate 3600s infinite linear;
}

/* line 77, ../sass/_css-clock.scss */
.seconds-container {
  animation: rotate 60s infinite linear;
}

/* line 3, ../sass/style.scss */
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../sass/style.scss */
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
  font-size: 50px;
}

/* line 21, ../sass/style.scss */
#container {
  color: #ddd;
  height: 100%;
  width: 50%;
  float: right;
  text-align: center;
}

/* line 29, ../sass/style.scss */
p {
  font-family: sans-serif;
  position: relative;
  top: 50%;
  color: #ccc;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 39, ../sass/style.scss */
#message {
  display: block;
  padding: 0.3em 0 0 0;
  margin: 0.3em 0 0 0;
  border-top: 3px solid #333;
  width: 80%;
  margin-left: 10%;
}

/* line 48, ../sass/style.scss */
#timeOfDay {
  color: white;
  display: block;
}

/* line 53, ../sass/style.scss */
#time {
  color: white;
}
