#clock-container {
    position: absolute;
    height: 380px;
    width: 380px;
    top: 30px;
    left: 30px;
    #clock {
        position: relative;
        width: 380px;
        height: 380px;
        background: url(../img/clockface.png);
        #sec, #min, #hour {
            position: absolute;
            width: 30px;
            height: 600px;
            top: -110px;
            left: 175px;
            opacity: 0.5;
        }
        #sec {
            opacity: 0.9;
            background: url(../img/sechand.png);
            z-index: 3;
        }
        #min {
            background: url(../img/minhand.png);
            z-index: 2;
        }
        #hour {
            background: url(../img/hourhand.png);
            z-index: 1;
        }
    }
}