@import '_css-clock';

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #000;
	font-size: 50px;
}

#container {
	color: #ddd;
	height: 100%;
	width: 50%;
	float: right;
	text-align: center;
}

p {
	font-family: sans-serif;
	position: relative;
	top: 50%;
	color: #ccc;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#message {
	display: block;
	padding: 0.3em 0 0 0;
	margin: 0.3em 0 0 0;
	border-top: 3px solid #333;
	width: 80%;
	margin-left: 10%;
}

#timeOfDay {
	color: white;
	display: block;
}

#time {
	color: white;
}

