* {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}

html {

}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: blue;
}

#container {
	background: #111;
	color: white;
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 0 5%;
	background: green;
}

p {
	line-height: 1.1em;
	font-family: sans-serif;
	position: relative;
	// top: 50%;
	color: #ccc;
	// -webkit-transform: translateY(-50%);
	// -ms-transform: translateY(-50%);
	// transform: translateY(-50%);
	font-size: 12vh;
}

#message {
	font-size: 0.8em;
	display: block;
	line-height: 1.2em;
	margin-top: 10px;
	border-top: 1px solid #333;
	padding: 20px 0 0 0;
	margin: 20px 0 0 0;
	width: 80%;
	margin-left: 10%;
}

#timeOfDay {
	color: white;
	display: block;
	font-size: 16vh;
	margin-bottom: 30px;
}

#time {
	color: white;
}

#day {
}